apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kubex-operator.fullname" . }}
  labels:
    {{- include "kubex-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "kubex-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "kubex-operator.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "kubex-operator.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: KUBEX_AUTH_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "kubex-operator.fullname" . }}-admin-credentials
                  key: username
            - name: KUBEX_AUTH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "kubex-operator.fullname" . }}-admin-credentials
                  key: password
          ports:
            - name: api-ui
              containerPort: 8082
              protocol: TCP
            - name: metrics
              containerPort: 8080
              protocol: TCP
            - name: health
              containerPort: 8081
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: health
          readinessProbe:
            httpGet:
              path: /readyz
              port: health
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
