---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - finops.kubex.io
  resources:
  - namespacefinops
  - scalingconfigs
  - scalinggroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - finops.kubex.io
  resources:
  - namespacefinops/finalizers
  - scalingconfigs/finalizers
  - scalinggroups/finalizers
  verbs:
  - update
- apiGroups:
  - finops.kubex.io
  resources:
  - namespacefinops/status
  - scalingconfigs/status
  - scalinggroups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - finops.kubex.io
  resources:
  - scalingpolicies
  verbs:
  - get
  - list
  - watch
